body {
  margin: 0;
  padding: 0;
}

.banner {
  background: url("./assets/banner.jpg") center/cover no-repeat;
  padding: 100px;
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
}

.wrapper {
  background-color: #f5f5f5;
  max-width: 3000px;
  margin: auto;
}

.rounded-img {
  border-radius: 22px;
}

.fw-500 {
  font-weight: 500;
}

.tb {
  border: 1px solid red;
}
