body {
  margin: 0;
  padding: 0;
}

.banner {
  background: url("./assets/banner.jpg") center/cover no-repeat;
  padding: 100px;
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
}

.wrapper {
  background-color: #f3f6ff;
  max-width: 3000px;
  margin: auto;
}

.text-success {
  color: #c0fa4e !important;
}

.btn-success {
  background-color: #92c36a !important;
  border: none !important;
}
.btn-success:hover {
  background-color: #7aad51 !important;
  border: none !important;
}

.rounded-img {
  border-radius: 22px;
}

.fw-500 {
  font-weight: 500;
}

.tb {
  border: 1px solid red;
}
